$title-color: #0f2336;
$accent-color: #0cc;
$bg-color: #fff;
$text-color: #576d81;
$dark-accent: #173753;
$dots-color: #e3e6e8;
$links-color: rgba(255, 255, 255, 0.7);
$point-color: #f3af47;
$accent-bg: #f4f5f6;
$icons-color: #f6f7f8;
$input-bg: #f0f0f2;
$input-color: rgba(0, 0, 0, 0.35);